<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
     <link href="../static/css/bootstrap-table.css" th:href="@{/css/bootstrap-table.css}" rel="stylesheet"/>
     <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet"/>

    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap-table.js"></script>

    <title>双击行事件</title>
    <style>
        .table-demo {
            width: 100%;
            margin: 30px auto 0px auto;
        }
        
        
    #table-demo tr:nth-child(even) {
                background: #fafafa;
      }
            
   #mytable th {
                background: #efefef;
     }
            
            #delUser,
            #dupUser,
            #devLocation,
            #devList {
                background: #1caf9a;
                color: #FFFFFF;
                border: none;
                margin-left: 12px;
            }
        
    </style>
</head>
<body>
    <div class="table-demo">
        <table id="table"></table>
    </div>
    
    
     <div class="col-sm-12 search-collapse">
       <form id="upload" enctype="multipart/form-data" method="post"> 
         <input type="file" name="file" id="pic"/> 
         <input type="button" value="上传" onclick="uploadPic();"/> 
         <span class="showUrl"></span> 
         <img src="" class="showPic" alt=""> 
       </form> 
     </div>
     


    <script>
        //设置需要显示的列
        var columns = [{
            field: 'Id',
            title: '编号'
        }, {
            field: 'ProductName',
            title: '产品名称'
        }, {
            field: 'StockNum',
            title: 'Item 库存'
        }];


        //需要显示的数据
        var data = [{
            Id: 1,
            ProductName: '香蕉',
            StockNum: '100'
        }, {
            Id: 2,
            ProductName: '苹果',
            StockNum: '200'
        }];
        //bootstrap table初始化数据
        $('#table').bootstrapTable({
          columns: columns,
          data: data,
          onDblClickRow:function(row, $element, field)
          {
            alert(JSON.stringify(row));
          }
        });
  
  
  var path=location.href;
  
  var curPageUrl = window.document.location.href;
  var rootPath = curPageUrl.split("mooc")[0];
  
  function uploadPic() { 
  var form = document.getElementById('upload'), 
    formData = new FormData(form); 
    alert("网络连接失败,稍后重试"+rootPath); 
  $.ajax({ 
    url: rootPath + "common/upload",
   type:"post", 
   data:formData, 
   processData:false, 
   contentType:false, 
   success:function(res){ 
    if(res){ 
     alert("上传成功！"); 
    } 
    console.log(res); 
    $("#pic").val(""); 
    $(".showPic").attr("src",res.url); 
   }, 
   error:function(err){ 
    alert("网络连接失败,稍后重试",err); 
   } 
  
  }) 
  
 }
 
 
 
 
 

 
    </script>
</body>
</html>