<!doctype html>
<html>
<head>

 
	

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="../static/css/bootstrap-table.css" th:href="@{/css/bootstrap-table.css}" rel="stylesheet"/>
     <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet"/>

    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap-table.js"></script>
 <!-- 
   <th:block th:include="include :: footer" />
    <th:block th:include="include :: header('修改【请填写功能名称】')" />
    --> 
    <title>视频文件上传</title>
    <style>
        .table-demo {
            width: 100%;
            margin: 30px auto 0px auto;
        }
    </style>
</head>
<body>
   
    
     <div class="col-sm-12 search-collapse">
       <form id="upload" enctype="multipart/form-data" method="post"> 
         <input type="file" name="file" id="pic"/> 
         <input type="button" value="上传" onclick="uploadPic();"/> 
         
         <!--                       
         <input type="button" value="下载" onclick="download();"/> 
         --> 
         <span class="showUrl"></span> 
         <img src="" class="showPic" alt=""> 
       </form> 
       
     </div>
     
 
<script th:inline="javascript"> var ctx = [[@{/}]]; var captchaType = [[${captchaType}]]; </script>

<script>
     
  
  var path=location.href;
  
  var curPageUrl = window.document.location.href;
  var rootPath = curPageUrl.split("common")[0];
  
  var thisURL = document.URL;  
  var  getval =thisURL.split('?')[1];
  var showval= getval.split("=")[1];
  
  
  function uploadPic() { 
  var form = document.getElementById('upload'), 
    formData = new FormData(form); 
     formData.append('id', showval);
  $.ajax({ 
   url: rootPath + "common/uploadvideo",
   type:"post", 
   data:formData, 
   processData:false, 
   contentType:false, 
   success:function(res){ 
    if(res){ 
     alert("上传成功！"); 
    } 
    console.log(res); 
    $("#pic").val(""); 
    $(".showPic").attr("src",res.url); 
   }, 
   error:function(err){ 
    alert("网络连接失败,稍后重试",err); 
   } 
  
  }) 
  
 }
 
   function download() { 
 var form = document.getElementById('upload'), 
    formData = new FormData(form); 
   alert("网络连接失败,稍后重试"+rootPath); 
  window.location.href = rootPath + "common/down?fileName=" + "446dea3865aacf7b33c82913641aed7b.jpg" + "&delete=" + false;



  
  
 }
    </script>
</body>
</html>