<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改视频信息')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-video-edit" th:object="${moocVideo}">
            <input name="videoId" th:field="*{videoId}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">视频分享秘钥：</label>
                <div class="col-sm-8">
                    <input name="vodeoIdkey" th:field="*{vodeoIdkey}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">视频名称：</label>
                <div class="col-sm-8">
                    <input name="videoName" th:field="*{videoName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">视频类型：</label>
                <div class="col-sm-8">
                    <select name="videoType" class="form-control m-b">
                        <option value="">所有</option>
                    </select>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">视频地址：</label>
                <div class="col-sm-8">
                    <textarea name="videoAddress" class="form-control">[[*{videoAddress}]]</textarea>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">视频存储位置：</label>
                <div class="col-sm-8">
                    <input name="videoLoad" th:field="*{videoLoad}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">视频章节：</label>
                <div class="col-sm-8">
                    <input name="videoContent" th:field="*{videoContent}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">直播地址：</label>
                <div class="col-sm-8">
                    <input name="videoOpadress" th:field="*{videoOpadress}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">视频权限：</label>
                <div class="col-sm-8">
                    <input name="videoAuthority" th:field="*{videoAuthority}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">视频收费：</label>
                <div class="col-sm-8">
                    <input name="videoMony" th:field="*{videoMony}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">视频参数：</label>
                <div class="col-sm-8">
                    <input name="videoDetil" th:field="*{videoDetil}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">视频码率：</label>
                <div class="col-sm-8">
                    <input name="videoNum" th:field="*{videoNum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">视频板块：</label>
                <div class="col-sm-8">
                    <input name="videoCon" th:field="*{videoCon}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">视频大小：</label>
                <div class="col-sm-8">
                    <input name="videoSize" th:field="*{videoSize}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">状态：</label>
                <div class="col-sm-8">
                    <div class="radio-box">
                        <input type="radio" name="status" value="">
                        <label th:for="status" th:text="未知"></label>
                    </div>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">上传时间：</label>
                <div class="col-sm-8">
                    <input name="upTime" th:field="*{upTime}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">上传备注：</label>
                <div class="col-sm-8">
                    <input name="upRemark" th:field="*{upRemark}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">上传分类：</label>
                <div class="col-sm-8">
                    <select name="upType" class="form-control m-b">
                        <option value="">所有</option>
                    </select>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">视频简介：</label>
                <div class="col-sm-8">
                    <textarea name="videoIntroduction" class="form-control">[[*{videoIntroduction}]]</textarea>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">视频图片地址：</label>
                <div class="col-sm-8">
                    <input name="videoPic" th:field="*{videoPic}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">封面图片类型：</label>
                <div class="col-sm-8">
                    <select name="videoPictype" class="form-control m-b">
                        <option value="">所有</option>
                    </select>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">清晰度：</label>
                <div class="col-sm-8">
                    <input name="videoQulity" th:field="*{videoQulity}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">视频时长：</label>
                <div class="col-sm-8">
                    <input name="videoPlaytime" th:field="*{videoPlaytime}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">点赞次数：</label>
                <div class="col-sm-8">
                    <input name="pointsCount" th:field="*{pointsCount}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">评论次数：</label>
                <div class="col-sm-8">
                    <input name="commentFrequency" th:field="*{commentFrequency}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">排行：</label>
                <div class="col-sm-8">
                    <input name="vodeoSort" th:field="*{vodeoSort}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">下载次数：</label>
                <div class="col-sm-8">
                    <input name="downloadCount" th:field="*{downloadCount}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">收藏次数：</label>
                <div class="col-sm-8">
                    <input name="storeCount" th:field="*{storeCount}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">观看次数：</label>
                <div class="col-sm-8">
                    <input name="playCount" th:field="*{playCount}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备用1：</label>
                <div class="col-sm-8">
                    <input name="column39" th:field="*{column39}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备用2：</label>
                <div class="col-sm-8">
                    <input name="column38" th:field="*{column38}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备用3：</label>
                <div class="col-sm-8">
                    <input name="column37" th:field="*{column37}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备用4：</label>
                <div class="col-sm-8">
                    <input name="column36" th:field="*{column36}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备用5：</label>
                <div class="col-sm-8">
                    <input name="column35" th:field="*{column35}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "mooc/videos";
        $("#form-video-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-video-edit').serialize());
            }
        }
    </script>
</body>
</html>