<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('字典类型列表')" />
<style type="text/css">

#bootstrap-table{
		            table-layout:fixed; /* bootstrap-table设置colmuns中某列的宽度无效时，需要给整个表设置css属性 */
		            word-break:break-all; word-wrap:break-all; /* 自动换行 */
	            }
		</style>


    <link href="../static/css/bootstrap-table.css" th:href="@{/css/bootstrap-table.css}" rel="stylesheet"/>
     <link href="../static/css/bootstrap-table-fixed-header.css" th:href="@{/css/bootstrap-table-fixed-header.css}" rel="stylesheet"/>

    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap-table-fixed-header.js"></script>
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>视频分享秘钥：</label>
                                <input type="text" name="vodeoIdkey"/>
                            </li>
                            <li>
                                <label>视频名称：</label>
                                <input type="text" name="videoName"/>
                            </li>
                            <li>
                                <label>视频类型：</label>
                                <select name="videoType">
                                    <option value="">所有</option>
                                    <option value="-1">代码生成请选择字典属性</option>
                                </select>
                            </li>
                            <li>
                                <label>视频存储位置：</label>
                                <input type="text" name="videoLoad"/>
                            </li>
                            <li>
                                <label>视频章节：</label>
                                <input type="text" name="videoContent"/>
                            </li>
                            <li>
                                <label>直播地址：</label>
                                <input type="text" name="videoOpadress"/>
                            </li>
                            <li>
                                <label>视频权限：</label>
                                <input type="text" name="videoAuthority"/>
                            </li>
                            <li>
                                <label>视频收费：</label>
                                <input type="text" name="videoMony"/>
                            </li>
                            <li>
                                <label>视频参数：</label>
                                <input type="text" name="videoDetil"/>
                            </li>
                            <li>
                                <label>视频码率：</label>
                                <input type="text" name="videoNum"/>
                            </li>
                            <li>
                                <label>视频板块：</label>
                                <input type="text" name="videoCon"/>
                            </li>
                            <li>
                                <label>视频大小：</label>
                                <input type="text" name="videoSize"/>
                            </li>
                            <li>
                                <label>状态：</label>
                                <select name="status">
                                    <option value="">所有</option>
                                    <option value="-1">代码生成请选择字典属性</option>
                                </select>
                            </li>
                            <li>
                                <label>上传时间：</label>
                                <input type="text" name="upTime"/>
                            </li>
                            <li>
                                <label>上传备注：</label>
                                <input type="text" name="upRemark"/>
                            </li>
                            <li>
                                <label>上传分类：</label>
                                <select name="upType">
                                    <option value="">所有</option>
                                    <option value="-1">代码生成请选择字典属性</option>
                                </select>
                            </li>
                            <li>
                                <label>视频图片地址：</label>
                                <input type="text" name="videoPic"/>
                            </li>
                            <li>
                                <label>封面图片类型：</label>
                                <select name="videoPictype">
                                    <option value="">所有</option>
                                    <option value="-1">代码生成请选择字典属性</option>
                                </select>
                            </li>
                            <li>
                                <label>清晰度：</label>
                                <input type="text" name="videoQulity"/>
                            </li>
                            <li>
                                <label>视频时长：</label>
                                <input type="text" name="videoPlaytime"/>
                            </li>
                            <li>
                                <label>点赞次数：</label>
                                <input type="text" name="pointsCount"/>
                            </li>
                            <li>
                                <label>评论次数：</label>
                                <input type="text" name="commentFrequency"/>
                            </li>
                            <li>
                                <label>排行：</label>
                                <input type="text" name="vodeoSort"/>
                            </li>
                            <li>
                                <label>下载次数：</label>
                                <input type="text" name="downloadCount"/>
                            </li>
                            <li>
                                <label>收藏次数：</label>
                                <input type="text" name="storeCount"/>
                            </li>
                            <li>
                                <label>观看次数：</label>
                                <input type="text" name="playCount"/>
                            </li>
                            <li>
                                <label>备用1：</label>
                                <input type="text" name="column39"/>
                            </li>
                            <li>
                                <label>备用2：</label>
                                <input type="text" name="column38"/>
                            </li>
                            <li>
                                <label>备用3：</label>
                                <input type="text" name="column37"/>
                            </li>
                            <li>
                                <label>备用4：</label>
                                <input type="text" name="column36"/>
                            </li>
                            <li>
                                <label>备用5：</label>
                                <input type="text" name="column35"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i> 搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i> 重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:video:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:video:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:video:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:video:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            
            <div class="col-sm-12 select-table table-striped  bootstrap-table-fixed-header " >
                <table id="bootstrap-table"></table>
            </div>
            

        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:video:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:video:remove')}]];
        var prefix = ctx + "mooc/videos";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "视频信息",

                   fixedColumns: true,
        		    fixedNumber: 2,
                striped: true, //是否显示行间隔色 
                singleSelect : false, // 设置为true将禁止多选
                pagination: true,//分页
                sidePagination : 'server',//服务器端分页
                pageNumber : 1,
                pageList: [5, 10, 20, 50],//分页步进值
                search: true,//显示搜索框
                
                 fixedHeader: true,
                scrollX: "500px",
                scrollY: "400px",
                scrollCollapse: true,
                
                   onDblClickRow: true,               // 双击某行触发的事件
                   onClickCell: true,                   // 单击某格触发的事件
                   onDblClickCell: true,             // 双击某格触发的事件
                   onEditableSave: true,             // 行内编辑保存的事件
                   
                   
                   
                columns: [{
                    checkbox: true
                },
                 {
                    title: '操作',
                    align: 'center',
                     width:80,
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.videoId + '\')"></i>编辑信息</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.videoId + '\')"></i>删除信息</a>');
                        actions.push('<a class="btn btn-success btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="uploadVideoplay(\'' + row.videoLoad + '\');"></i>播放视频</a>');
                        actions.push('<a class="btn btn-success btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="uploadVideo(\'' + row.videoId + '\');"></i>添加视频</a>');
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="uploadPic(\'' + row.videoId + '\');"></i>添加图片</a>');
  //                       actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="videoOpadress(\'' + row.videoOpadress + '\');"></i>播放直播</a>');
                        return actions.join('');}
                },
                {
                    field: 'videoId', 
                    title: '视频主键',
                    visible: false
                },
                {
                    field: 'videoIdkey', 
                    title: '主键字符',
                    visible: false
                },
                
                {
                    field: 'videoName', 
                    title: '视频名称',
                    sortable: true,
                    align : "center",
			        valign : "middle",
			        width:120,
                },
                {
                    field: 'videoType', 
                    title: '视频类型',
                    sortable: true,
                     width:70,
                },
                {
                    field: 'videoAddress', 
                    title: '视频地址',
                     sortable: true,
		             width:80,
		        },
		        
		      {
                field: "videoAddress",
                align: "center", 
                title: "图片",
                width:300,
                   formatter: function (value, row, index) {
                    var image = '<div class="photos">'
                        + '<a target="_blank" href="' + row.videoPic + '"><img style="width:auto;height:auto;margin: 1px" alt="image" class="feed-photo" src="' + row.videoPic + '"></img></a>'
                        + '</div>';
                    return image;
                }
            },
            
		      
                {
                    field: 'videoContent', 
                    title: '视频章节',
                     width:70,
                },
                 {
                    field: 'videoIntroduction', 
                    title: '视频简介',
                     width:150,
                },
                {
                    field: 'videoPic', 
                    title: '视频图片地址',
                     width:150,
                },
                {
                    field: 'videoPictype', 
                    title: '封面图片类型',
                     width:150,
                },
                {
                    field: 'videoOpadress', 
                    title: '直播地址',
                     width:150,
                },
                {
                    field: 'videoAuthority', 
                    title: '视频权限',
                     width:150,
                },
                {
                    field: 'vodeoIdkey', 
                    title: '视频分享秘钥',
                     width:150,
                },
                {
                    field: 'videoMony', 
                    title: '视频收费',
                     width:150,
                },
                {
                    field: 'videoLoad', 
                    title: '视频存储位置',
                     width:150,
                },
                {
                    field: 'videoDetil', 
                    title: '视频参数',
                     width:150,
                },
                {
                    field: 'videoNum', 
                    title: '视频码率',
                     width:150,
                },
                {
                    field: 'videoCon', 
                    title: '视频板块',
                     width:150,
                },
                {
                    field: 'videoSize', 
                    title: '视频大小',
                     width:150,
                },
                {
                    field: 'status', 
                    title: '状态',
                     width:150,
                },
                {
                    field: 'upTime', 
                    title: '上传时间',
                     width:150,
                },
                {
                    field: 'upRemark', 
                    title: '上传备注',
                     width:150,
                },
                {
                    field: 'upType', 
                    title: '上传分类',
                     width:150,
                },
               
                {
                    field: 'videoQulity', 
                    title: '清晰度',
                     width:150,
                },
                {
                    field: 'videoPlaytime', 
                    title: '视频时长',
                     width:150,
                },
                {
                    field: 'pointsCount', 
                    title: '点赞次数',
                     width:150,
                },
                {
                    field: 'commentFrequency', 
                    title: '评论次数',
                     width:150,
                },
                {
                    field: 'vodeoSort', 
                    title: '排行',
                     width:150,
                },
                {
                    field: 'downloadCount', 
                    title: '下载次数',
                     width:150,
                },
                {
                    field: 'storeCount', 
                    title: '收藏次数',
                     width:150,
                },
                {
                    field: 'playCount', 
                    title: '观看次数',
                     width:150,
                },
                {
                    field: 'column39', 
                    title: '备用1',
                     width:150,
                },
                {
                    field: 'column38', 
                    title: '备用2',
                     width:150,
                },
                {
                    field: 'column37', 
                    title: '备用3',
                     width:150,
                },
                {
                    field: 'column36', 
                    title: '备用4',
                },
                {
                    field: 'column35', 
                    title: '备用5',
                },
                {
                    field: 'remark', 
                    title: '备注',
                },],
                onLoadSuccess: function () {
                },
                onLoadError: function () {
                     showTips("数据加载失败！");
                 },
                 onDblClickRow: function (row, $element) {
                     var id = row.ID;
                     EditViewById(id, 'view');
                 },
                

                };        
            $.table.init(options);
        });
        
        
      var curPageUrl = window.document.location.href;
   //   var rootPath = curPageUrl.split("mooc")[0];
      
      var rootPath = curPageUrl.substring(0, curPageUrl.lastIndexOf("mooc"))
  
     function uploadPic(id) { 
              //     alert("网络连接失败,稍后重试"+ds); 
               $.modal.openload("上传文件", rootPath + "common/downindex?picid="+id);
                 //  WinOp(rootPath + "mooc/fileud?picid="+id, 300, 300)
                 
              
        }
        
     function uploadVideo(id) { 
               $.modal.openload("上传文件", rootPath + "common/videoupindex?picid="+id);
        }
        
     function uploadVideoplay(videoLoad) { 
           // location.href = rootPath+"profile/"+videoLoad;
           //   window.open(rootPath+"profile/"+videoLoad); 
             window.open(rootPath+"common/h5play?url="+videoLoad); 
        }
     function videoOpadress(videoOpadress) { 
           // location.href = rootPath+"profile/"+videoLoad;
              window.open(rootPath+"common/rtmpplay?url="+videoOpadress); 
        }        
        
                
  function WinOp(url, wei, hei)
  {
    window.open(url, '', 'width='+ wei +' height='+ hei +' scrollbars=yes toolbar=no top=600 left=600 resizable=yes')
  }
  ///http://www.itxst.com/bootstrap-table-events/e2qqeieu.html     
    </script>
</body>
</html>